.main{
    background-size: cover;
    background-position: center;
    height: 109vh;
    width: 100%;
    background-image: url(Images/main\ 1.jpeg);
}
  .navbars{

    height: 5px;
    float: left;
}
 

.icons{
    font-style: normal;
    font-size: medium;
     color: white;

}
.menu{
    margin-top: 2%;
    margin-left: 5%;
    .Screenpicture{
    size: 60px;
    }
    
}
ul{
display: flex;
gap: 70px;
margin-left: 30px;
text-align: center;
text-decoration: none;
color: white;
}

.map{
    background-size: cover;
    background-position: center;
    height: 109vh;
    background-image: url(Images/map\ 4.jpeg);
    
}
.fashion{
    display: flex;
    gap: 200px;
    size: 80px;
    width: 200px;
    
}
.fashionleso{
    width: 60px;
    
}
.Showcaseimages{
    width: 60px;
    padding: 40px;
}
.contact{
    padding: 90px;
    font-size: 30px;
    border-radius: 5%;
    color:black;
  
    

}
.industry{
    display: flex;
    padding: 120px;
    font-size: 30px;
    
}

.services{
    display: flex;
    background-color: aqua;
    padding: 100px;
}
premium{
    margin-bottom: 50px;
}
.ScreenTechniques{
    display: flex;
    padding: 90px;
}

.footerwords{
    display: flex;
    gap: 300px;
    padding: 90px;
} 
.Rasiscreen{
    margin-bottom: 50px;
    margin-right: 30px;

}
.best{
    margin-left: 10%;
}
hr{
    align-items: center;
    justify-content: center;}
    
    footer{
        background-color:black;
        text-decoration: none;
        color: white;
        background-size: 30px;
    }
.screenprinting{
    display: flex;
    gap: 350px;
    padding: 90px;
    font-size: 30px;
}
.Screenpicture{
    height: 50px;
    width: 100%;
}
.premium{
    padding-bottom: 30px;
    margin-bottom: 50px;
}
.print{
    justify-content: center;
    align-items: center;
}
.traditional{
    padding-bottom: 90px;
}
.Reachwords{
    justify-content: center;
    margin-left: 700px;
    font-size: 25px;
}
.printingwords{
    font-size: 30px;
}



